<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd" colors="true">
    <testsuites>
        <testsuite name="ApiTests">
            <directory>./tests/Api</directory>
        </testsuite>
        <testsuite name="DbTests">
            <directory>./tests/Db</directory>
        </testsuite>
        <testsuite name="RouterTests">
            <directory>./tests/Router</directory>
        </testsuite>
    </testsuites>
</phpunit>