{% extends "layout/layout.twig" %}

{% block title %} - Home{% endblock %}

{% block body %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 mt-4">
            <div class="jumbotron jumbotron-fluid">
                <div class="container text-center">
                    <h1 class="display-4">Welcome</h1>
                    <p class="lead">This website offers you a web interface in the form of a dashboard to display data in order to follow the evolution of the Coronavirus at the global level and / or according to each country.</p>
                </div>
            </div>

            <div class="container text-center mb-2">

                <h2>News</h2>

                {# {% for country in countries %}
                    {{ print_r(country) }}
                {% endfor %} #}

            </div>
    </main>
  
 
{% endblock %}