{% extends "layout/layout.twig" %}

{% block title %}
	-  About
{% endblock %}

{% block body %}
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 mt-4">
		<div class="jumbotron jumbotron-fluid">
			<div class="container text-center">
				<h1 class="display-4">About</h1>
			</div>
		</div>

		<div class="container text-center mb-2">

			<h2>
				<em class="fa fa-question-circle" aria-hidden="true"></em>
				Who made this website ?
			</h2>

			<ul class="list-group">
				<li class="list-group-item">This website was designed by ETTABAAI Rachid</li>
				<li class="list-group-item">You can email me at rachid.ettabaai.simplon@gmail.com</li>
				<li class="list-group-item">
					My LinkedIn profile is here
					<a href="https://www.linkedin.com/in/rachid-ettabaai/" target="_blank" title="click on the link to access my LinkedIn profile">
						<em class="fa fa-linkedin-square" aria-hidden="true"></em>
					</a>
				</li>
				<li class="list-group-item">
					You can see my GitLab profile here
					<a href="https://gitlab.com/rachid_ettabaai" target="_blank" title="click on the link to access my GitLab profile">
						<em class="fa fa-gitlab" aria-hidden="true"></em>
					</a>
					to view my portfolio
				</li>
			</ul>

		</div>

		<div class="container text-center mt-4 mb-2">

			<h2>
				<em class="fa fa-link" aria-hidden="true"></em>
				Source
			</h2>

			<ul class="list-group">
				<li class="list-group-item">
					<a href="https://covid19api.com/" target="_blank" title="click on the link to access to the COVID19 API">COVID19 API</a>
				</li>
				<li class="list-group-item">
					<a href="https://en.wikipedia.org/wiki/COVID-19_pandemic" target="_blank" title="click on the link to access to the COVID19 API pandemic definition">COVID19 Pandemic Definition</a>
				</li>
			</ul>

		</div>

	</main>

{% endblock %}

{% block javascript %}{% endblock %}
